@import "tailwindcss";

@theme {
	--color-background: #fffcf3;
	--color-foreground: #000017;

	--color-primary: #d2273d;
	--color-secondary: #00aeb9;
	--color-road: #383838;

	--font-primary: sans-serif;
	--font-secondary: serif;

	/* Selected fonts (labelled by a star in the Figma Wireframes) */
	--font-title: "Orbitron", sans-serif;
	--font-body: "Roboto Mono", monospace;

	/* Alternative fonts (present in the wireframe but not starred) */
	--font-title-alternative: "Audiowide", sans-serif;
	--font-body-alternative: "Open Sans", sans-serif;

	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700;
}

.stroke-lg {
    -webkit-text-stroke: 20px transparent;
    background-size: 100% 100%;
}

.stroke-xl {
    -webkit-text-stroke: 36px transparent;
    background-size: 100% 100%;
}

.bg {
    background: linear-gradient(to bottom, #00AEB9, #D2273D);
    width: 100vw;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}   
