body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.background-container {
    margin-top: -10px;
    background: #fffff1 url("../assets/Background-8.png") no-repeat top center / 100% auto;
    height:800vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

}   



.main-wrapper {
    text-align: center;
    margin-top: 300px;
}

.title-text {
    font-size: 100px;
    font-weight: 900;
    color: #D2273D;
    font-family: Orbitron;
}

.information-text{
    color: #ffffff;
    font-weight:400;
    font-size: 24px;
    font-family: Roboto Mono;


}


.apply-button:hover {
    background-color: #0056b3;
}
